{% extends 'base.html.twig' %}


{% block main %}

<h1 class="main-title">Catégories de cocktails</h1>

		<article class="recipe">

			<h2>{{cocktail.nom}}</h2>
			<p>{{cocktail.description}}</p>

		</article>

	</main>

{% endblock main %}
