{% extends 'base.html.twig' %}

{% block metatitle %}
	Les catégories de cocktails
{% endblock metatitle %}

{% block main %}

	<h1 class="main-title">Catégories de cocktails</h1>

	{% for categorie in categories %}

		<article class="recipe">

			<h2>{{categorie.nom}}</h2>
			<p>{{categorie.description}}</p>

		</article>

	{% endfor %}

{% endblock main %}


