{% extends 'base.html.twig' %}

{% block metatitle %}
	Les cocktails
{% endblock metatitle %}

{% block main %}

<h1 class="main-title">Tous les cocktails</h1>

		<article class="recipe">

			<h2>{{cocktail.nom}}</h2>
			<img class="recipe-image" src="{{cocktail.image}}" alt="{{cocktail.nom}}" />

		</article>

	</main>

{% endblock main %}
