{% extends base.html.twig' %}

<main class="main">

{% block content %}

	<h1 class="main-title">Détail d'un cocktail</h1>

		<article class="recipe">

			<h2>{{cocktail.nom}}</h2>
			<img class="recipe-image" src="{{cocktail.image}}" alt="{{cocktail.nom}}" />

		</article>

	</main>

{% block end %}