{% extends 'base.html.twig' %}

{% block metatitle %}
	{{categorie.nom}}
{% endblock metatitle %}

{% block main %}

	<main class="main">

		<h1 class="main-title">Détail d'une catégorie</h1>

				<article class="recipe">

					<h2>{{categorie.nom}}</h2>
					<a href={{path('details-category', {'id': category.id})}}>Voir le détail</a>
					
					<p>{{categorie.description}} </p>
					
				
				</article>


	</main>

{% endblock main %}
    