
{% extends 'base.html.twig' %}


{% block main %}

	<main class="main">

		<h1 class="main-title">Les trois derniers cocktails</h1>


			{% include 'partial/cocktails/_loop-cocktails.html.twig' %}	
            
	</main>

{% endblock main %}
