<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>Liste des cocktails</title>

<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<main class="main">

<aside class="sidebar">

		<p class="sidebar-pub">venez boire un cocktail</p>

	</aside>